.dashboard {
  padding: 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.wsi-viewer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.details-panel {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.finding-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-column {
  flex: 1;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.info-column:hover {
  transform: translateY(-2px);
}
.image-panel {
  flex: 2;
  text-align: center;
  position: relative;
}

.zoom-controls {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 5px;
}

.zoom-button:hover {
  background-color: #0056b3;
}

.zoom-level {
  font-weight: bold;
  margin: 0 10px;
}

.image-container {
  overflow: hidden;
  border: 1px solid #dddddd;
  border-radius: 8px;
  position: relative;
}

.whole-slide-image {
  width: 100%;
  transition: transform 0.3s ease;
}

.zoomed-out-view {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.zoomed-out-image {
  width: 100%;
  border-radius: 8px;
}

.download-section,
.apply-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.download-report-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-report-btn:hover {
  background-color: #218838;
}
